*.so
*.stash
*.o
*.app
tmp/*
oonalysis.config
oonalysis.creator*
oonalysis.includes
oonalysis.files
oonalysis.pro.user
.qmake.stash
bin/*
moc*
mk_db
*.dylib
*.a
*.cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.db
