*.so
*.stash
*.o
*.app
Makefile
tmp/*
oonalysis.config
oonalysis.creator*
oonalysis.includes
oonalysis.files
oonalysis.pro.user
.qmake.stash
bin/*
moc*
mk_db
*.dylib
*.a
*.cmake
CMakeFiles
CMakeCache.txt
